
.resumeCont{
    
        border: 1px solid rgb(58, 58, 58);
        background-color: rgba(240, 248, 255, 0.075);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        color: white;
    
        display: flex;
        
}

.resume{
    padding: 20px;
    width: 100%;
    /* height: inherit; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: auto; */

    h1{
        margin: 0;
        cursor: pointer;
        -webkit-text-stroke: 1px white; /* Stroke width and color */
         transition: color 0.3s, -webkit-text-stroke 0.3s;
    }
    h1:hover{
        color: rgba(255, 255, 255, 0.038);
    }
}