.techCont{
    border: 1px solid rgb(58, 58, 58);
    background-color: rgba(240, 248, 255, 0.075);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;

    display: flex;
    
}

.tech{
    padding: 20px;
    /* width: 100%; */
 

display: grid;
grid-template-columns: 1fr 1fr ;
gap: 20px;
    img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
}