body, .App {
    overflow-x: hidden;
    /* overflow-y: hidden; */

}

.App{
    width: 100vw;
    background-image: url("../src//core/img/bg.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
display: flex;
justify-content: center;

}



a{
    text-decoration: none;
    color: #fff;

}

/* span{
    background-color: red;
} */