.App{
    background-image: url("../src//core/img/bg.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* height: 100vh; */
}

a{
    text-decoration: none;
    color: #fff;
    
}